﻿@model IEnumerable<MutualAid.Withdraw>

@{
    ViewBag.Title = "AllWithdrawals";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="page-inner">
    <!--================================-->
    <!-- Main Wrapper Start -->
    <!--================================-->
    <div id="main-wrapper">
        <!--================================-->
        <!-- Breadcrumb Start -->
        <!--================================-->
        <div class="pageheader pd-t-25 pd-b-35">
            <div class="pd-t-5 pd-b-5">
                <h1 class="pd-0 mg-0 tx-20 text-overflow">Mutual Aid</h1>
            </div>
            <div class="breadcrumb pd-0 mg-0">
                <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i> Admin</a>

                <span class="breadcrumb-item active">All Withdrawals</span>
            </div>
        </div>
        <!--/ Breadcrumb End -->
        <div class="row row-xs clearfix">

            <!-- Compact dataTable Start -->
            <!--================================-->
            <div class="col-md-12 col-lg-12">
                <div class="card mg-b-20">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            ALL WITHDRAWALS
                        </h4>
                     

                    </div>
                    <div class="card-body collapse show" id="collapse4">
                        <table id="compactTable" class="display compact responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Amount</th>
                                    <th>Date Made</th>
                                    <th>Status</th>
                                    <th>Paid</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    using (var db = new MutualAidEntities())
                                    {
                                        var user = db.SystemUsers.FirstOrDefault(p => p.Email == item.MadeBy);
                                        var status = (MutualAid.Models.Transaction.WithdrawStatus)item.WithdrawStatus;
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => user.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Amount)
                                            </td>
                                            <td>
                                                @item.DateMade.ToString("dd/MM/yyyy")
                                            </td>
                                            <td>@Html.DisplayFor(p=> status)</td>
                                            @if (item.IsWithdrawn == true)
                                            {
                                                <td>YES</td>
                                            }
                                            else
                                            {
                                                <td>NO</td>
                                            }

                                        </tr>
                                    }

                                }
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Amount</th>
                                    <th>Date Made</th>
                                    <th>Status</th>
                                    <th>Paid</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!--/ Compact dataTable End -->
            <!--================================-->



        </div>
    </div>
    <!--/ Main Wrapper End -->
