﻿@model IEnumerable<MutualAid.ContactSupport>

@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="page-inner">
    <!--================================-->
    <!-- Main Wrapper Start -->
    <!--================================-->
    <div id="main-wrapper">
        <!--================================-->
        <!-- Breadcrumb Start -->
        <!--================================-->
        <div class="pageheader pd-t-25 pd-b-35">
            <div class="pd-t-5 pd-b-5">
                <h1 class="pd-0 mg-0 tx-20 text-overflow">Mutual Aid</h1>
            </div>
            <div class="breadcrumb pd-0 mg-0">
                <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i> Home</a>

                <span class="breadcrumb-item active">Support</span>
            </div>
        </div>
        <!--/ Breadcrumb End -->
        <div class="row row-xs clearfix">

            <!-- Compact dataTable Start -->
            <!--================================-->
            <div class="col-md-12 col-lg-12">
                <div class="card mg-b-20">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            SUPPORT
                        </h4>
                       

                    </div>
                    <div class="card-body collapse show" id="collapse4">
                        <table id="compactTable" class="display compact responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Message</th>
                                    <th>Date Sent</th>
                                    <th>Send By</th>
                                    <th>Reply</th>
                                    <th>Status</th>
                                    <th>Actions</th>



                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    using (var db = new MutualAidEntities())
                                    {
                                        var user = db.SystemUsers.FirstOrDefault(p => p.Email == item.SentBy);
                                        var status = (MutualAid.Models.Transaction.Status)item.Status;

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Message)
                                            </td>
                                            <td>
                                                @item.DateSent.ToString("dd/MM/yyyy")

                                            </td>
                                            <td>
                                                @Html.DisplayFor(p=> user.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Reply)
                                                </td>
                                            <td>
                                                @Html.DisplayFor(p=> status)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Reply", "Reply", new { id = item.Id }, new { @class = "btn btn-info" })
                                            </td>

                                        </tr>
                                    }

                                }
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th>Message</th>
                                    <th>Date Sent</th>
                                    <th>Send By</th>
                                    <th>Reply</th>
                                    <th>Actions</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!--/ Compact dataTable End -->
            <!--================================-->



        </div>
    </div>
    <!--/ Main Wrapper End -->
</div>
