﻿@model IEnumerable<MutualAid.PayReceive>

@{
    ViewBag.Title = "DisputedDeposits";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="page-inner">
    <!--================================-->
    <!-- Main Wrapper Start -->
    <!--================================-->
    <div id="main-wrapper">
        <!--================================-->
        <!-- Breadcrumb Start -->
        <!--================================-->
        <div class="pageheader pd-t-25 pd-b-35">
            <div class="pd-t-5 pd-b-5">
                <h1 class="pd-0 mg-0 tx-20 text-overflow">Mutual Aid</h1>
            </div>
            <div class="breadcrumb pd-0 mg-0">
                <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i>Admin</a>

                <span class="breadcrumb-item active">Disputed Deposits</span>
            </div>
        </div>
        <!--/ Breadcrumb End -->
        <div class="row row-xs clearfix">

            <!-- Compact dataTable Start -->
            <!--================================-->
            <div class="col-md-12 col-lg-12">
                <div class="card mg-b-20">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            DISPUTED DEPOSITS
                        </h4>
                       

                    </div>
                    <div class="card-body collapse show" id="collapse4">
                        <table id="compactTable" class="display compact responsive nowrap">
                            <thead>
                                <tr>
                                    <th>PAY TO</th>
                                    <th>RECEIVE FROM</th>
                                    <th>AMOUNT</th>
                                    <th>EXPECTED PAYMENT DATE</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    using (var db = new MutualAidEntities())
                                    {
                                        var payee = db.SystemUsers.FirstOrDefault(p => p.Email == item.ReceivedBy);
                                          var payer = db.SystemUsers.FirstOrDefault(p => p.Email == item.PayedBy);

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => payee.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => payer.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(p=>item.Amount)
                                            </td>
                                            <td>
                                                @item.ExpectedPaymentDate.ToString("dd/MM/yyyy")
                                            </td>
                                           
                                        </tr>
                                    }

                                }
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th>PAY TO</th>
                                    <th>RECEIVE FROM</th>
                                    <th>AMOUNT</th>
                                    <th>EXPECTED PAYMENT DATE</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!--/ Compact dataTable End -->
            <!--================================-->



        </div>
    </div>
    <!--/ Main Wrapper End -->
