﻿@model MutualAid.Models.Admin.SetUpViewModel

@{
    ViewBag.Title = "EditSetUp";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="page-inner">
    <!--================================-->
    <!-- Main Wrapper Start -->
    <!--================================-->
    <div id="main-wrapper">
        <!--================================-->
        <!-- Breadcrumb Start -->
        <!--================================-->
        <div class="pageheader pd-t-25 pd-b-35">
            <div class="pd-t-5 pd-b-5">
                <h1 class="pd-0 mg-0 tx-20 text-overflow">Mutual Aid</h1>
            </div>
            <div class="breadcrumb pd-0 mg-0">
                <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i> Home</a>
                <span class="breadcrumb-item active">Edit Settings</span>
            </div>
        </div>
        <!--/ Breadcrumb End -->
        <div class="row row-xs clearfix">
            <!--================================-->
            <!-- Basic Form Start -->
            <!--================================-->
            <div class="col-md-12 col-lg-12">
                <div class="card mg-b-20">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            Edit Settings
                        </h4>

                    </div>
                    <div class="card-body collapse show" id="collapse1">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                      
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)
                                <div class="form-group row">
                                    <label> Deposit Minimum</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.DepositMin, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label> Deposit Maximum</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.DepositMax, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label>Maturity Period <sup style="color:red">In Hours</sup></label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.MaturityDuration, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label>Pay Period <sup style="color:red">In Hours</sup></label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.PayDuration, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label>Confirm Pay Priod <sup style="color:red">In Hours</sup></label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.WithrawalConfirmDuration, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Submit" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <!--/ Basic Form End -->

        </div>
    </div>
    <!--/ Main Wrapper End -->
</div>
