﻿@model MutualAid.Models.Admin.RateViewModel

@{
    ViewBag.Title = "EditRate";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

    <div class="page-inner">
        <!--================================-->
        <!-- Main Wrapper Start -->
        <!--================================-->
        <div id="main-wrapper">
            <!--================================-->
            <!-- Breadcrumb Start -->
            <!--================================-->
            <div class="pageheader pd-t-25 pd-b-35">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 tx-20 text-overflow">Mutual Aid</h1>
                </div>
                <div class="breadcrumb pd-0 mg-0">
                    <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i> Home</a>
                    <span class="breadcrumb-item active">New Rate</span>
                </div>
            </div>
            <!--/ Breadcrumb End -->
            <div class="row row-xs clearfix">
                <!--================================-->
                <!-- Basic Form Start -->
                <!--================================-->
                <div class="col-md-12 col-lg-12">
                    <div class="card mg-b-20">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Edit Rate
                            </h4>

                        </div>
                        <div class="card-body collapse show" id="collapse1">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.id)

                                <div class="form-horizontal">
                                  
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group row">
                                        <label>Bonus Rate</label>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.BonusRate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.BonusRate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save Changes" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <!--/ Basic Form End -->

            </div>
        </div>
        <!--/ Main Wrapper End -->
    </div>


