﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
    var sessionUser = Session["User"] as SystemUser;
    List<SystemUser> users = new List<SystemUser>();
    var allUsers = 0;
    var active_members = 0;
    var suspended_members = 0;
    var dormant_members = 0;
    var SetUp = new Setup();
    var Bonus = new Rate();
    using (var db = new MutualAidEntities())
    {
        allUsers = db.SystemUsers.Count();
        active_members = db.SystemUsers.Where(p => p.Active == true).Count();
        suspended_members = allUsers - active_members;
        SetUp = db.Setups.FirstOrDefault();
        Bonus = db.Rates.FirstOrDefault();

    }
}

<div class="page-inner">
    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <!--================================-->
        <!-- Breadcrumb Start -->
        <!--================================-->
        <div class="pageheader pd-t-25 pd-b-35">
            <div class="pd-t-5 pd-b-5">
                <h1 class="pd-0 mg-0 tx-20">Mutual Aid</h1>
            </div>
            <div class="breadcrumb pd-0 mg-0">
                <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i> Home</a>
                <a class="breadcrumb-item" href="">Dashboard</a>
                <span class="breadcrumb-item active">Mutual Aid</span>
            </div>
        </div>
        <!--/ Breadcrumb End -->
        <!--================================-->
        <div class="row row-xs clearfix">
            <div class="col-sm-6 col-xl-3">
                <div class="card mg-b-20">
                    <div class="card-body pd-y-0">
                        <div class="custom-fieldset mb-4">
                            <div class="clearfix">
                                <label>All Members</label>
                            </div>
                            <div class="d-flex align-items-center text-dark">
                                <div class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded card-icon-warning">
                                    <i class="fa fa-desktop tx-warning tx-20"></i>
                                </div>
                                <div>
                                    <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark"><span class="counter">@allUsers</span></h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card mg-b-20">
                    <div class="card-body pd-y-0">
                        <div class="custom-fieldset mb-4">
                            <div class="clearfix">
                                <label>Active Members</label>
                            </div>
                            <div class="d-flex align-items-center text-dark">
                                <div class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded card-icon-success">
                                    <i class="fa fa-diamond tx-success tx-20"></i>
                                </div>
                                <div>
                                    <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark"><span class="counter">@active_members</span></h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card mg-b-20">
                    <div class="card-body pd-y-0">
                        <div class="custom-fieldset mb-4">
                            <div class="clearfix">
                                <label>Suspended Members</label>
                            </div>
                            <div class="d-flex align-items-center text-dark">
                                <div class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded card-icon-primary">
                                    <i class="fa fa-users tx-primary tx-20"></i>
                                </div>
                                <div>
                                    <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark"><span class="counter">@suspended_members</span></h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card mg-b-20">
                    <div class="card-body pd-y-0">
                        <div class="custom-fieldset mb-4">
                            <div class="clearfix">
                                <label>Dormant Members</label>
                            </div>
                            <div class="d-flex align-items-center text-dark">
                                <div class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded card-icon-danger">
                                    <i class="icon-speedometer tx-danger tx-20"></i>
                                </div>
                                <div>
                                    <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark"><span class="counter">@dormant_members</span></h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-xs">
            <div class="col-sm-6 col-xl-3">
                <div class="card mg-b-20">
                    <div class="card-body">
                        <div class="media d-inline-flex">
                            <div>
                                <span class="tx-uppercase tx-10 mg-b-10">Deposit Min</span>
                                <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark">Ksh.<span class="counter">@SetUp.DepositMin.ToString("#,##0.00")</span></h2>
                            </div>
                        </div>

                        <div class="progress ht-3 op-5">
                            <div class="progress-bar bg-primary wd-100p" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card mg-b-20">
                    <div class="card-body">
                        <div class="media d-inline-flex">
                            <div>
                                <span class="tx-uppercase tx-10 mg-b-10">Deposit Max</span>
                                <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark">Ksh.<span class="counter">@SetUp.DepositMax.ToString("#,##0.00")</span> </h2>
                            </div>
                        </div>

                        <div class="progress ht-3 op-5">
                            <div class="progress-bar bg-primary wd-100p" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card mg-b-20">
                    <div class="card-body">
                        <div class="media d-inline-flex">
                            <div>
                                <span class="tx-uppercase tx-10 mg-b-10">Maturity Duration</span>
                                <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark"><span class="counter">@SetUp.MaturityDuration</span>HRS </h2>
                            </div>
                        </div>
                        <div class="progress ht-3 op-5">
                            <div class="progress-bar bg-primary wd-100p" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card mg-b-20">
                    <div class="card-body">
                        <div class="media d-inline-flex">
                            <div>
                                <span class="tx-uppercase tx-10 mg-b-10">Bonus Rate</span>
                                <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark"><span class="counter">@Bonus.BonusRate</span>% </h2>
                            </div>
                        </div>
                        <div class="progress ht-3 op-5">
                            <div class="progress-bar bg-primary wd-100p" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Audience Metrics Start -->
      
</div>
    </div>

