﻿@model IEnumerable<MutualAid.Setup>

@{
    ViewBag.Title = "SetUps";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="page-inner">
    <!--================================-->
    <!-- Main Wrapper Start -->
    <!--================================-->
    <div id="main-wrapper">
        <!--================================-->
        <!-- Breadcrumb Start -->
        <!--================================-->
        <div class="pageheader pd-t-25 pd-b-35">
            <div class="pd-t-5 pd-b-5">
                <h1 class="pd-0 mg-0 tx-20 text-overflow">Mutual Aid</h1>
            </div>
            <div class="breadcrumb pd-0 mg-0">
                <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i> Home</a>

                <span class="breadcrumb-item active">Settings</span>
            </div>
        </div>
        <!--/ Breadcrumb End -->
        <div class="row row-xs clearfix">

            <!-- Compact dataTable Start -->
            <!--================================-->
            <div class="col-md-12 col-lg-12">
                <div class="card mg-b-20">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            SETTINGS
                        </h4>
                        <div class="row">
                            <div class="col-6 mr-3">
                                @Html.ActionLink("Add New", "NewSetUp", "", htmlAttributes: new { @class = "btn btn-primary" })
                            </div>

                        </div>

                    </div>
                    <div class="card-body collapse show" id="collapse4">
                        <table id="compactTable" class="display compact responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Minimum Deposit</th>
                                    <th>Maximum Deposit</th>
                                    <th>Maturity Duration</th>
                                    <th>Pay By Duration</th>
                                    <th>Confirm Pay Duration</th>
                                    <th>Added By</th>
                                    <th>Date Added</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    using (var db = new MutualAidEntities())
                                    {
                                        var addedby = db.SystemUsers.FirstOrDefault(p => p.Email == item.AddedBy);
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepositMin)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepositMax)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaturityDuration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PayDuration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WithrawalConfirmDuration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => addedby.FullName)
                                    </td>
                                    <td>
                                        @item.DateAdded.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditSetUp", new { id = item.Id }, new { @class = "btn btn-info" }) |

                                        @Html.ActionLink("Del", "DelSetUp", new { id = item.Id }, new { @class = "btn btn-danger", @onclick = "return confirm('Are you sure you want to delete this rate?');" })
                                    </td>
                                </tr>
                                    }

                                }
                            </tbody>

                          
                        </table>
                    </div>
                </div>
            </div>
            <!--/ Compact dataTable End -->
            <!--================================-->



        </div>
    </div>
    <!--/ Main Wrapper End -->
</div>



