﻿@{ 
    var user = Session["User"] as SystemUser;
    var username =  user.FullName.Substring(0, user.FullName.IndexOf(" "));
}
<!DOCTYPE html>
<html lang="en-gb">
<head>
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="mutual aid">
    <meta name="keyword" content="mutual aid">
    <meta name="author" content="mutual aid" />
    <!-- Page Title -->
    <title>@ViewBag.Title - Mutual Aid</title>
    <!-- Main CSS -->
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <!-- Favicon -->
    <link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.1.2/collection/components/icon/icon.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />*@
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.1.2/cjs/ionicons.cjs.js" type="text/javascript"></script>*@
</head>
<body>
    <!-- Page Container Start -->
    <!--================================-->
    <div class="page-container">
        <!--================================-->
        <!-- Page Sidebar Start -->
        <!--================================-->
        <div class="page-sidebar">
            <div class="logo">
                <a class="logo-img" href="#">
                    <img class="desktop-logo" src="~/Content/assets/images/mutual_aid.png" alt="MUTUAL AID">
                    <img class="small-logo" src="~/Content/assets/images/mutual_aid.png" alt="MUTUAL AID">
                </a>
                <i class="fa fa-bars" id="sidebar-toggle-button-close"></i>
                @*<i class="ion-ios-close-empty" id="sidebar-toggle-button-close"></i>*@
            </div>
            <!--================================-->
            <!-- Sidebar Menu Start -->
            <!--================================-->
            <div class="page-sidebar-inner">
                <div class="page-sidebar-menu">
                    <ul class="accordion-menu">
                        <li class="open active">
                            @if (user.Role == 0)
                            {
                                <a href="@Url.Action("Index","Admin")">
                                    <i data-feather="home"></i>
                                    <span>Dashboard</span><i class="accordion-icon fa fa-angle-left"></i>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Dashboard","Home")">
                                    <i data-feather="home"></i>
                                    <span>Dashboard</span><i class="accordion-icon fa fa-angle-left"></i>
                                </a>
                            }

                        </li>
                        @*<li>
            <a href="@Url.Action("NewDeposit","Transaction")">
                <i data-feather="mail"></i>
                <span>Deposit</span><span class="badge badge-warning ft-right"></span>
            </a>

        </li>
        <li>
            <a href="@Url.Action("Withdraw","Transaction")">
                <i data-feather="layout"></i>
                <span>Withdraw</span><span class="badge badge-info ft-right"></span>
            </a>
        </li>*@
                        <li>
                            <a href="@Url.Action("PayTo","Transaction")">
                                <i data-feather="mail"></i>
                                <span>Pay To</span><span class="badge badge-warning ft-right"></span>
                            </a>

                        </li>

                        <li>
                            <a href="@Url.Action("ReceiveFrom","Transaction")">
                                <i data-feather="mail"></i>
                                <span>Receive From</span><span class="badge badge-warning ft-right"></span>
                            </a>

                        </li>
                        @if (user.Role == 0)
                        {
                            <li>
                                <a href="@Url.Action("Contacts","Admin")">
                                    <i data-feather="mail"></i>
                                    <span>Support</span><span class="badge badge-warning ft-right"></span>
                                </a>

                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("Supports","Home")">
                                    <i data-feather="mail"></i>
                                    <span>Contact Us</span><span class="badge badge-warning ft-right"></span>
                                </a>

                            </li>
                        }
                        @if (user.Role == 0)
                        {
                            <li class="open active">
                                <a href="">
                                    <i data-feather="grid"></i>
                                    <span>REPORTS</span><i class="accordion-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu" style="display: block;">
                                    <li>
                                        <a href="@Url.Action("AllDeposits","Admin")">
                                            <i data-feather="mail"></i>
                                            <span>All Deposits</span><span class="badge badge-warning ft-right"></span>
                                        </a>

                                    </li>
                                    <li>
                                        <a href="@Url.Action("AllWithdrawals","Admin")">
                                            <i data-feather="mail"></i>
                                            <span>All Withdrawals</span><span class="badge badge-warning ft-right"></span>
                                        </a>

                                    </li>
                                    <li>
                                        <a href="@Url.Action("PendingDeposits","Admin")">
                                            <i data-feather="mail"></i>
                                            <span>Pending Deposits</span><span class="badge badge-warning ft-right"></span>
                                        </a>

                                    </li>
                                    <li>
                                        <a href="@Url.Action("DisputedDeposits","Admin")">
                                            <i data-feather="mail"></i>
                                            <span>Disputed Deposits</span><span class="badge badge-warning ft-right"></span>
                                        </a>

                                    </li>
                                    <li>
                                        <a href="@Url.Action("DelayedPayments","Admin")">
                                            <i data-feather="mail"></i>
                                            <span>Delayed Payments</span><span class="badge badge-warning ft-right"></span>
                                        </a>

                                    </li>
                                </ul>
                            </li>
                     
                         
                        }

                        <li class="menu-divider mg-y-20-force"></li>
                        @if (user.Role == 0)
                        {
                            <li class="open active">
                                <a href="">
                                    <i data-feather="grid"></i>
                                    <span>ADMINISTRATION</span><i class="accordion-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu" style="display: block;">
                                    <li>
                                        <a href="@Url.Action("GenerateWithdrawal","Transaction")">
                                            <i data-feather="printer"></i>
                                            <span>Generate Withdrawal</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Withdrawals","Transaction")">
                                            <i data-feather="printer"></i>
                                            <span>Match</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Users","Home")">
                                            <i data-feather="printer"></i>
                                            <span>Users</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Rates","Admin")">
                                            <i data-feather="printer"></i>
                                            <span>Bonus Rate</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SetUps","Admin")">
                                            <i data-feather="printer"></i>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            
                       
                        }


                    </ul>
                </div>
            </div>
            <!--/ Sidebar Menu End -->
            <!--================================-->
            <!-- Sidebar Footer Start -->
            <!--================================-->
            <div class="sidebar-footer">
                <a class="pull-left" href="page-profile.html" data-toggle="tooltip" data-placement="top" data-original-title="Profile">
                    <i data-feather="user" class="ht-15"></i>
                </a>
                <a class="pull-left " href="mailbox.html" data-toggle="tooltip" data-placement="top" data-original-title="Mailbox">
                    <i data-feather="mail" class="ht-15"></i>
                </a>
                <a class="pull-left" href="page-unlock.html" data-toggle="tooltip" data-placement="top" data-original-title="Lockscreen">
                    <i data-feather="lock" class="ht-15"></i>
                </a>
                <a class="pull-left" href="page-singin.html" data-toggle="tooltip" data-placement="top" data-original-title="Sing Out">
                    <i data-feather="log-out" class="ht-15"></i>
                </a>
            </div>
            <!--/ Sidebar Footer End -->
        </div>
        <!--/ Page Sidebar End -->
        <!--================================-->
        <!-- Page Content Start -->
        <!--================================-->
        <div class="page-content">
            <!--================================-->
            <!-- Page Header Start -->
            <!--================================-->
            <div class="page-header">
                <div class="search-form">
                    <form action="#" method="GET">
                        <div class="input-group">
                            <input class="form-control search-input" name="search" placeholder="Type something..." type="text" />
                            <span class="input-group-btn">
                                <span id="close-search"><i class="ion-ios-close-empty"></i></span>
                            </span>
                        </div>
                    </form>
                </div>
                <!--================================-->
                <!-- Page Header  Start -->
                <!--================================-->
                <nav class="navbar navbar-expand-lg">
                    <ul class="list-inline list-unstyled mg-r-20">
                        <!-- Mobile Toggle and Logo -->
                        <li class="list-inline-item align-text-top"><a class="hidden-md hidden-lg" href="#" id="sidebar-toggle-button"><i class="fa fa-navicon"></i></a></li>
                        <!-- PC Toggle and Logo -->
                        <li class="list-inline-item align-text-top"><a class="hidden-xs hidden-sm" href="#" id="collapsed-sidebar-toggle-button"><i class="fa fa-navicon"></i></a></li>
                    </ul>
                    <!--================================-->
                    <!-- Mega Menu Start -->
                    <!--================================-->
                    <div class="collapse navbar-collapse">

                    </div>
                    <!--/ Mega Menu End-->
                    <!--/ Brand and Logo End -->
                    <!--================================-->
                    <!-- Header Right Start -->
                    <!--================================-->
                    <div class="header-right pull-right">
                        <ul class="list-inline justify-content-end">

                            <!--================================-->
                            <!--================================-->
                            <!-- Notifications Dropdown Start -->
                            <!--================================-->
                            @*<li class="list-inline-item dropdown hidden-xs">
                                    <a class="notification-icon" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-bell tx-16"></i>
                                        <span class="notification-count wave in"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow-2">
                                        <!-- Top Notifications Area -->
                                        <div class="top-notifications-area">
                                            <!-- Heading -->
                                            <div class="notifications-heading">
                                                <div class="heading-title">
                                                    <h6>Notifications</h6>
                                                </div>
                                                <span>5+ New Notifications</span>
                                            </div>
                                            <div class="notifications-box" id="notificationsBox">
                                                <a class="dropdown-item list-group-item" href="javascript:void(0)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="wd-45 ht-38 mg-r-15 d-flex align-items-center justify-content-center rounded-circle card-icon-success">
                                                            <i class="fa fa-smile-o tx-success tx-16"></i>
                                                        </div>
                                                        <div>
                                                            <span>Your order is placed</span>
                                                            <span class="small tx-gray-600 ft-right">Jun 10</span>
                                                            <div class="tx-gray-600 tx-11">Dummy text of the printing and type setting industry.</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item list-group-item" href="javascript:void(0)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="wd-45 ht-38 mg-r-15 d-flex align-items-center justify-content-center rounded-circle card-icon-warning">
                                                            <i class="fa fa-bell tx-warning tx-16"></i>
                                                        </div>
                                                        <div>
                                                            <span>Your item is shipped</span>
                                                            <span class="small tx-gray-600 ft-right">Jun 05</span>
                                                            <div class="tx-gray-600 tx-11">Dummy text of the printing and type setting industry.</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item list-group-item" href="javascript:void(0)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="wd-45 ht-38 mg-r-15 d-flex align-items-center justify-content-center rounded-circle card-icon-success">
                                                            <i class="fa fa-check tx-success tx-16"></i>
                                                        </div>
                                                        <div>
                                                            <span>New Message received</span>
                                                            <span class="small tx-gray-600 ft-right">Jun 02</span>
                                                            <div class="tx-gray-600 tx-11">Dummy text of the printing and type setting industry.</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item list-group-item" href="javascript:void(0)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="wd-45 ht-38 mg-r-15 d-flex align-items-center justify-content-center rounded-circle card-icon-danger">
                                                            <i class="fa fa-heartbeat tx-danger tx-16"></i>
                                                        </div>
                                                        <div>
                                                            <span>Payment failed!</span>
                                                            <span class="small tx-gray-600 ft-right">May 29</span>
                                                            <div class="tx-gray-600 tx-11">Dummy text of the printing and type setting industry.</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item list-group-item" href="javascript:void(0)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="wd-45 ht-38 mg-r-15 d-flex align-items-center justify-content-center rounded-circle card-icon-primary">
                                                            <i class="fa fa-info tx-info tx-16"></i>
                                                        </div>
                                                        <div>
                                                            <span>New document available</span>
                                                            <span class="small tx-gray-600 ft-right">May 25</span>
                                                            <div class="tx-gray-600 tx-11">Dummy text of the printing and type setting industry.</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item list-group-item" href="javascript:void(0)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="wd-45 ht-38 mg-r-15 d-flex align-items-center justify-content-center rounded-circle card-icon-primary">
                                                            <i class="fa fa-info tx-info tx-16"></i>
                                                        </div>
                                                        <div>
                                                            <span>New document available</span>
                                                            <span class="small tx-gray-600 ft-right">May 08</span>
                                                            <div class="tx-gray-600 tx-11">Dummy text of the printing and type setting industry.</div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="notifications-footer">
                                                <a href="">View all Notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>*@
                            <!--/ Notifications Dropdown End -->
                            <!--================================-->
                            <!-- Messages Dropdown Start -->
                            <!--================================-->
                            @*<li class="list-inline-item dropdown hidden-xs">
                                    <a class="message-icon" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-envelope tx-16"></i>
                                        <span class="messages-count wave in"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow-2">
                                        <div class="top-message-area">
                                            <div class="top-message-heading">
                                                <div class="heading-title">
                                                    <h6>Messages</h6>
                                                </div>
                                                <span>5+ New Messages</span>
                                            </div>
                                            <div class="message-box" id="messageBox">
                                                <a class="dropdown-item list-group-item" href="javascript:void(0)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="pd-r-15">
                                                            <span class="avatar avatar-online">
                                                                <img src="assets/images/avatar/avatar1.png" class="img-fluid" alt="">
                                                                <i></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span>Mary Adams</span>
                                                            <span class="small tx-gray-600 ft-right">30 minutes ago</span>
                                                            <div class="tx-gray-600 tx-11">Dummy text of the printing and type setting industry...</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item list-group-item" href="javascript:void(0)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="pd-r-15">
                                                            <span class="avatar avatar-online">
                                                                <img src="assets/images/avatar/avatar2.png" class="img-fluid" alt="">
                                                                <i></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span>Richards Caleb</span>
                                                            <span class="small tx-gray-600 ft-right">12 hours ago</span>
                                                            <div class="tx-gray-600 tx-11">Dummy text of the printing and type setting industry...</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item list-group-item" href="javascript:void(0)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="pd-r-15">
                                                            <span class="avatar avatar-busy">
                                                                <img src="assets/images/avatar/avatar3.png" class="img-fluid" alt="">
                                                                <i></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span>Lane Richards</span>
                                                            <span class="small tx-gray-600 ft-right">2 days ago</span>
                                                            <div class="tx-gray-600 tx-11">Dummy text of the printing and type setting industry...</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item list-group-item" href="javascript:void(0)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="pd-r-15">
                                                            <span class="avatar avatar-busy">
                                                                <img src="assets/images/avatar/avatar4.png" class="img-fluid" alt="">
                                                                <i></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span>Edward Lane</span>
                                                            <span class="small tx-gray-600 ft-right">3 days ago</span>
                                                            <div class="tx-gray-600 tx-11">Dummy text of the printing and type setting industry...</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item list-group-item" href="javascript:void(0)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="pd-r-15">
                                                            <span class="avatar avatar-offline">
                                                                <img src="assets/images/avatar/avatar5.png" class="img-fluid" alt="">
                                                                <i></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span>Lane Richards</span>
                                                            <span class="small tx-gray-600 ft-right">2 days ago</span>
                                                            <div class="tx-gray-600 tx-11">Dummy text of the printing and type setting industry...</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item list-group-item" href="javascript:void(0)">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="pd-r-15">
                                                            <span class="avatar avatar-offline">
                                                                <img src="assets/images/avatar/avatar6.png" class="img-fluid" alt="">
                                                                <i></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span>Edward Lane</span>
                                                            <span class="small tx-gray-600 ft-right">3 days ago</span>
                                                            <div class="tx-gray-600 tx-11">Dummy text of the printing and type setting industry...</div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="top-message-footer">
                                                <a href="">View all Messages</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>*@
                            <!--/ Messages Dropdown End -->
                            <!--================================-->
                            <!-- Profile Dropdown Start -->
                            <!--================================-->
                            <li class="list-inline-item dropdown">
                                <a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="select-profile">Hi, @username</span>
                                    <img src="assets/images/avatar/avatar1.png" class="img-fluid wd-35 ht-35 rounded-circle" alt="">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-profile shadow-2">
                                    <div class="user-profile-area">
                                        <div class="user-profile-heading">
                                            <div class="profile-thumbnail">
                                                <img src="assets/images/avatar/avatar1.png" class="img-fluid wd-35 ht-35 rounded-circle" alt="">
                                            </div>
                                            <div class="profile-text">
                                                <h6>@user.FullName</h6>
                                                <span>@user.Email</span>
                                            </div>
                                        </div>
                                        <a href="@Url.Action("ChangePassword","Home")" class="dropdown-item"><i class="fa fa-user" aria-hidden="true"></i>Change Password</a>
                                        <a href="@Url.Action("Supports","Home")" class="dropdown-item"><i class="fa fa-envelope" aria-hidden="true"></i> Messages</a>

                                        <a href="@Url.Action("Logout","Home")" class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign-out</a>
                                    </div>
                                </div>
                            </li>
                            <!-- Profile Dropdown End -->
                            <!--================================-->

                        </ul>
                    </div>
                    <!--/ Header Right End -->
                </nav>
            </div>
            <!--/ Page Header End --><!--/ Page Header End -->
            <!--================================-->
            <!-- Page Inner Start -->
            <!--================================-->
            @RenderBody()
            <!--/ Page Inner End -->
            <!--================================-->
            <!-- Page Footer Start -->
            <!--================================-->
            <footer class="page-footer">
                <div class="pd-t-4 pd-b-0 pd-x-20">
                    <div class="tx-10 tx-uppercase">
                        <p class="pd-y-10 mb-0">Copyright &copy; @DateTime.Now.Year . - Mutual Aid</p>
                    </div>
                </div>
            </footer>
            <!--/ Page Footer End -->
        </div>
        <!--/ Page Content End -->
    </div>
    <!--/ Page Container End -->
    <!--================================-->
    <!-- Footer Script -->
    <!--================================-->
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker-en-CA.min.js" type="text/javascript"></script>*@
    <script>
        // Basic DataTable
        $('#basicDataTable').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: ''
            }
        });
        // Compact DataTable
        $('#compactTable').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: ''
            }
        });


    </script>
</body>
</html>
