﻿<!DOCTYPE html>
<html lang="en-gb">
<head>
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="mutual aid">
    <meta name="keyword" content="mutual aid">
    <meta name="author" content="mutual aid" />
    <!-- Page Title -->
    <title>@ViewBag.Title - Mutual Aid</title>
    <!-- Main CSS -->
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <!-- Favicon -->
    <link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .home-intro {
            background-image: url("../../Content/assets/images/abstract.jpg");
            background-position: bottom;
            background-size: cover;
        }

        .demo-img {
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
        }

            .demo-img:hover {
                box-shadow: none !important;
                transition: all 0.5s !important;
            }
    </style>

</head>
   <body>
     @RenderBody()

       <footer class="tx-center">
           <div class="card mx-auto text-center bd-t pd-t-15">
               <p>Copyright &copy; @DateTime.Now.Year . - Mutual Aid</p>

           </div>
       </footer>
           <!--================================-->
           <!-- Footer Script -->
           <!--================================-->
           @*@Scripts.Render("~/bundles/jquery")*@
           @Scripts.Render("~/bundles/bootstrap")
           @RenderSection("scripts", required: false)
</body>
</html>

