﻿@model MutualAid.Models.Transaction.WithdrawViewModel
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "GenerateWithdrawal";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="page-inner">
    <!--================================-->
    <!-- Main Wrapper Start -->
    <!--================================-->
    <div id="main-wrapper">
        <!--================================-->
        <!-- Breadcrumb Start -->
        <!--================================-->
        <div class="pageheader pd-t-25 pd-b-35">
            <div class="pd-t-5 pd-b-5">
                <h1 class="pd-0 mg-0 tx-20 text-overflow">Mutual Aid</h1>
            </div>
            <div class="breadcrumb pd-0 mg-0">
                <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i> Home</a>
                <span class="breadcrumb-item active">Deposit</span>
            </div>
        </div>
        <!--/ Breadcrumb End -->
        <div class="row row-xs clearfix">
            <!--================================-->
            <!-- Basic Form Start -->
            <!--================================-->
            <div class="col-md-12 col-lg-12">
                <div class="card mg-b-20">
                    <div class="card-header">
                        <h4 class="card-header-title webnots-tip webnots-notification-box text-white ">
                            GENERATE WITHDRAWAL
                        </h4>

                    </div>
                    <div class="card-body collapse show" id="collapse1">
                        @*<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Withdrawable Amount :</strong> <span>Ksh. @Model.Principal.ToString("0.00") </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>*@
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <form class="form-horizontal">
                                <div class="form-group mb-0">

                                    <div class="input-group mt-3 mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-light" id="basic-addon5">Amount</span>
                                        </div>

                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })


                                        <div class="input-group-append">
                                            <span class="input-group-text bg-light" id="basic-addon6">KSH</span>
                                        </div>
                                    </div>

                                    @Html.Captcha(4) <br /> <p> @ViewBag.ErrorMessage </p>
                                    <div class="mt-3 ml-auto">
                                        <input type="submit" value="Submit" class="btn btn-primary" />

                                    </div>
                                </div>
                            </form>


                        }

                    </div>
                </div>
            </div>
            <!--/ Basic Form End -->

        </div>
    </div>
    <!--/ Main Wrapper End -->
</div>