﻿@model MutualAid.Models.Transaction.MatchViewModel

@{
    ViewBag.Title = "MatchRequest";
    Layout = "~/Views/Shared/_Admin.cshtml";
    var count = 0;
}


<div class="page-inner">
    <!--================================-->
    <!-- Main Wrapper Start -->
    <!--================================-->
    <div id="main-wrapper">
        <!--================================-->
        <!-- Breadcrumb Start -->
        <!--================================-->
        <div class="pageheader pd-t-25 pd-b-35">
            <div class="pd-t-5 pd-b-5">
                <h1 class="pd-0 mg-0 tx-20 text-overflow">Mutual Aid</h1>
            </div>
            <div class="breadcrumb pd-0 mg-0">
                <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i> Home</a>

                <span class="breadcrumb-item active">Withdraw</span>
            </div>
        </div>
        <!--/ Breadcrumb End -->

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row row-xs clearfix">

                <div class="col-md-12 col-lg-12">
                    <div class="card mg-b-20">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Match with Senders
                            </h4>
                            <div class="card-header-btn">
                                <a href="#" data-toggle="collapse" class="btn card-collapse" data-target="#collapse1" aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
                                <a href="#" data-toggle="refresh" class="btn card-refresh"><i class="ion-android-refresh"></i></a>
                                <a href="#" data-toggle="expand" class="btn card-expand"><i class="ion-android-expand"></i></a>
                                <a href="#" data-toggle="remove" class="btn card-remove"><i class="ion-android-close"></i></a>
                            </div>
                        </div>
                        <div class="card-body pd-0 collapse show" id="collapse1">
                            <table class="table table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Full Name</th>
                                        <th>Amount Available</th>
                                        <th>Enter Amount<sup style="color:red">Should not be higher than amount available</sup></th>
                                        <th>Match?</th>
                                        @*<th>Paid By(Date)</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    @for (int i = 0; i < Model.DepositModels.Count; i++)
                                    {
                                        count = i + 1;
                                        using (var db = new MutualAidEntities())
                                        {
                                            var email = Model.DepositModels[i].DepositedBy;
                                            var depositedBy = db.SystemUsers.FirstOrDefault(p => p.Email ==email);
                                            decimal existingAmount = 0;
                                            var existing = db.PayReceives.Where(p => p.PayedBy == email).ToList();
                                            if (existing != null)
                                            {
                                                foreach (var item in existing)
                                                {
                                                    existingAmount = existingAmount + item.Amount;
                                                }
                                            }
                                            decimal totalAmount = Model.DepositModels[i].Amount;
                                            decimal remaining_amount = totalAmount - existingAmount;
                                            <tr>
                                                @Html.HiddenFor(p => Model.DepositModels[i].Id)
                                                @Html.HiddenFor(p => Model.WithdrawalId)
                                                @Html.HiddenFor(p => Model.ReceivedBy)
                                                @Html.HiddenFor(p => Model.DepositModels[i].DepositedBy)
                                                <td>@count</td>
                                                <td>@Html.DisplayFor(p => depositedBy.FullName)</td>
                                                <th>@Html.DisplayFor(p=>remaining_amount)</th>
                                                <td>@Html.TextBoxFor(p => Model.DepositModels[i].Amount, new { htmlAttributes = new { @class = "form-control" } })</td>
                                                <td>@Html.CheckBoxFor(p=>Model.DepositModels[i].Match, new { htmlAttributes = new { @class = "form-control" } })</td>
                                                @*<td>@Html.TextBoxFor(p=>Model.DepositModels[i].ExpectedPaymentDate, new { htmlAttributes = new { @class = "form-control datepicker-here" }})</td>*@
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Submit" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        }
        </div>
    <!--/ Main Wrapper End -->
</div>


