﻿@model MutualAid.Models.Transaction.PayViewModel

@{
    ViewBag.Title = "ReceiveFrom";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

    <div class="page-inner">
        <!-- Main Wrapper -->
        <div id="main-wrapper">
            <!--================================-->
            <!-- Breadcrumb Start -->
            <!--================================-->
            <div class="pageheader pd-t-25 pd-b-35">
                <div class="pd-t-5 pd-b-5">
                    <h1 class="pd-0 mg-0 tx-20">Mutual Aid</h1>
                </div>
                <div class="breadcrumb pd-0 mg-0">
                    <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i> Home</a>
                    <a class="breadcrumb-item" href="">Mutual Aid</a>
                    <span class="breadcrumb-item active">Receive From</span>
                </div>
            </div>
            <!--/ Breadcrumb End -->
            <!--================================-->
            <div class="row clearfix">

                <!-- Transactions History Start -->
                <!--================================-->
                <div class=" col-lg-12 col-xl-6">
                    <div class="card mg-b-20">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Receive From to The Following
                            </h4>
                            <div class="card-header-btn">
                                <a href="" data-toggle="collapse" class="btn card-collapse" data-target="#transactionsHistory" aria-expanded="true"><i class="ion-ios-arrow-down"></i></a>
                                <a href="" data-toggle="refresh" class="btn card-refresh"><i class="ion-android-refresh"></i></a>
                                <a href="" data-toggle="expand" class="btn card-expand"><i class="ion-android-expand"></i></a>
                                <a href="" data-toggle="remove" class="btn card-remove"><i class="ion-android-close"></i></a>
                            </div>
                        </div>
                        @using (Html.BeginForm())
                        {

                            @Html.AntiForgeryToken()
                            <div class="collapse show" id="transactionsHistory">
                                <div class="card-body pd-x-0 pd-y-0">
                                    <ul class="list-group list-group-flush">


                                        @for (int i = 0; i < Model.MatchViewModels.Count; i++)
                                        {
                                            using (var db = new MutualAidEntities())
                                            {

                                                DateTime daysLeft = Model.MatchViewModels[i].DueDate;
                                                DateTime startDate = DateTime.Now;

                                                //Calculate countdown timer.
                                                TimeSpan t = daysLeft - startDate;
                                              string countDown = string.Format("{0}hrs:{1}m:{2}s", t.Hours, t.Minutes, t.Seconds);
                                                var email = Model.MatchViewModels[i].PayedBy;
                                                var payto = db.SystemUsers.FirstOrDefault(p => p.Email == email);
                                                   var id = Model.MatchViewModels[i].Id;
                 
                                            var payment = db.PayReceives.FirstOrDefault(p => p.Id == id);
                                                @Html.HiddenFor(p => Model.MatchViewModels[i].DueDate)
                                                @Html.HiddenFor(p => Model.MatchViewModels[i].Id)
                                                @Html.HiddenFor(p => Model.MatchViewModels[i].Amount)
                                                @Html.HiddenFor(p => Model.MatchViewModels[i].DepositId)
                                                @Html.HiddenFor(p => Model.MatchViewModels[i].WithdrawalId)
                                                @Html.HiddenFor(p => Model.MatchViewModels[i].PayedBy)
                                                <li class="list-group-item d-flex pd-y-10 pd-sm-x-15">
                                                    <div class="d-none d-sm-block"><span class="wd-45 ht-45 d-flex align-items-center justify-content-center rounded card-icon-primary"><i class="cf cf-eth tx-16 tx-primary"></i></span></div>
                                                    <div class="pd-sm-l-10">
                                                        <p class="tx-dark mg-b-0">Name</p>
                                                        <p class="tx-dark mg-b-0">Phone</p>
                                                        <p class="tx-dark mg-b-0">Amount</p>
                                                        <p class="tx-dark mg-b-0">Due Date</p>
                                                        <p class="tx-dark mg-b-0">Time Remaining</p>
                                                        <p class="tx-dark mg-b-0">Tick (&#10004;) If paid</p>
                                                        @if (payment.ActualDatePayed == null)
                                                        {
                                                            <p class="tx-danger mg-b-0">
                                                                Waiting Payment
                                                            </p>
                                                        }
                                                        else if (payment.ActualDatePayed != null && payment.IsPayed == false)
                                                        {
                                                            <p class="tx-danger mg-b-0">
                                                                <div class="form-group">
                                                                    <div class="col-md-offset-2 col-md-10">
                                                                        <input type="submit" value="Confirm" name="submitButton" class="btn btn-primary" onclick="return confirm('Ensure You Click The Checkbox Before Submiting');" />
                                                                    </div>
                                                                </div>
                                                            </p>
                                                        }
                                                        else if (payment.Disputed == true)
                                                        {
                                                            <p class="tx-danger mg-b-0">Disputed</p>
                                                        }
                                                     
                                                    </div>
                                                    <div class="mg-l-auto text-right">
                                                        <p class="tx-dark mg-b-0">@payto.FullName</p>
                                                        <p class="tx-dark mg-b-0">@payto.Phone</p>
                                                        <p class="tx-dark mg-b-0">@Model.MatchViewModels[i].Amount</p>
                                                        <p class="tx-dark mg-b-0">@Model.MatchViewModels[i].DueDate.ToString("dd/MM/yyyy")</p>
                                                        <p class="tx-danger mg-b-0">@countDown</p>
                                                        <p class="tx-danger mg-b-0">@Html.CheckBoxFor(p=>Model.MatchViewModels[i].status)</p>
                                                        <p class="mg-b-0">
                                                            <div class="form-group">
                                                                <div class="col-md-offset-2 col-md-10">
                                                                    <input type="submit" value="Fake Teller" name="submitButton" class="btn btn-primary" onclick="return confirm('Ensure You Click The Checkbox Before Submiting');" />
                                                                </div>
                                                            </div>
                                                        <p />
                                                    </div>



                                                </li>
                                            }
                                        }


                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!--/ Transactions History End -->
            </div>





        </div>
    </div>
