﻿@model IEnumerable<MutualAid.Withdraw>

@{
    ViewBag.Title = "Withdrawals";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div class="page-inner">
    <!--================================-->
    <!-- Main Wrapper Start -->
    <!--================================-->
    <div id="main-wrapper">
        <!--================================-->
        <!-- Breadcrumb Start -->
        <!--================================-->
        <div class="pageheader pd-t-25 pd-b-35">
            <div class="pd-t-5 pd-b-5">
                <h1 class="pd-0 mg-0 tx-20 text-overflow">Mutual Aid</h1>
            </div>
            <div class="breadcrumb pd-0 mg-0">
                <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i> Home</a>

                <span class="breadcrumb-item active">Users</span>
            </div>
        </div>
        <!--/ Breadcrumb End -->
        <div class="row row-xs clearfix">

            <!-- Compact dataTable Start -->
            <!--================================-->
            <div class="col-md-12 col-lg-12">
                <div class="card mg-b-20">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            ALL PENDING WITHDRAWALS
                        </h4>


                    </div>
                    <div class="card-body collapse show" id="collapse4">
                        <table id="compactTable" class="display compact responsive nowrap table-responsive">
                            <thead>
                                <tr>
                                    <th>Fullname</th>
                                    <th>Date Requested</th>
                                    <th>Total Amount</th>
                                    <th>Already Allocated</th>
                                    <th>Remaining Amount</th>
                                    <th>Status</th>
                         
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    using (var db = new MutualAidEntities())
                                    {
                                        var deposit = db.Deposits.FirstOrDefault(p => p.IsPaid == false && p.DepositedBy == item.MadeBy);
                                        if (deposit == null)
                                        {
                                            var user = db.SystemUsers.FirstOrDefault(p => p.Email == item.MadeBy);
                                            decimal already_allocated = 0;
                                            var allocateds = db.PayReceives.Where(p => p.WithdrawalId == item.Id).ToList();
                                            if (allocateds != null)
                                            {
                                                foreach (var item2 in allocateds)
                                                {
                                                    already_allocated = already_allocated + item2.Amount;
                                                }
                                            }
                                            decimal remaining = item.Amount - already_allocated;
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => user.FullName)
                                                </td>
                                                <td>
                                                    @item.DateMade.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Amount)
                                                </td>
                                                <td>@already_allocated</td>
                                                <td>@remaining</td>
                                                @if (already_allocated == 0)
                                                {
                                                    <td><button class="btn btn-sm btn-info">New</button></td>
                                                }
                                                else if (already_allocated == item.Amount)
                                                {
                                                    <td><button class="btn btn-sm btn-warning">Completed</button></td>
                                                }
                                                else if (already_allocated < item.Amount && already_allocated != 0)
                                                {
                                                    <td><button class="btn btn-sm btn-secondary">Not Complete</button></td>
                                                }

                                                <td>
                                                    @Html.ActionLink("Match", "MatchRequest", new { id = item.Id }, new { @class = "btn btn-info" }) |


                                                </td>
                                            </tr>
                                        }

                                    }

                                }
                            </tbody>

                            
                        </table>
                    </div>
                </div>
            </div>
            <!--/ Compact dataTable End -->
            <!--================================-->



        </div>
    </div>
    <!--/ Main Wrapper End -->
</div>
