﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Admin.cshtml";
    var sessionUser = Session["User"] as SystemUser;
    List<Deposit> deposits = new List<Deposit>();
    var myDeposit = new Deposit();
    var UnWithdrawn = new Deposit();
    var rate = new Rate();
    MutualAid.Models.Transaction.PayViewModel Payto = new MutualAid.Models.Transaction.PayViewModel();
    MutualAid.Models.Transaction.PayViewModel ReceiveFrom = new MutualAid.Models.Transaction.PayViewModel();
    if (sessionUser != null)
    {
        using (var db = new MutualAidEntities())
        {
            deposits = db.Deposits.Where(p => p.DepositedBy == sessionUser.Email && p.IsWithdrawn == false).OrderBy(p => p.DateDeposited).ToList();
            myDeposit = db.Deposits.FirstOrDefault(p => p.DepositedBy == sessionUser.Email && p.DepositType == 0);
            UnWithdrawn = db.Deposits.FirstOrDefault(p => p.DepositedBy == sessionUser.Email && p.IsPaid == true && p.IsMature == true && p.IsWithdrawn == false);
            rate = db.Rates.FirstOrDefault();

        }

        Payto.MatchViewModels = new List<MutualAid.Models.Transaction.MatchViewModel>();
        using (var db = new MutualAidEntities())
        {
            var pendings = db.PayReceives.Where(p => p.IsPayed == false && p.PayedBy == sessionUser.Email).ToList();
            foreach (var item in pendings)
            {
                var due = new MutualAid.Models.Transaction.MatchViewModel
                {
                    Id = item.Id,
                    Amount = item.Amount,
                    DepositId = item.DepositId,
                    WithdrawalId = item.WithdrawalId,
                    ReceivedBy = item.ReceivedBy,
                    DueDate = item.ExpectedPaymentDate

                };
                Payto.MatchViewModels.Add(due);
            }

        }
        ReceiveFrom.MatchViewModels = new List<MutualAid.Models.Transaction.MatchViewModel>();
        using (var db = new MutualAidEntities())
        {
            var pendings = db.PayReceives.Where(p => p.IsPayed == false && p.ReceivedBy == sessionUser.Email).ToList();
            foreach (var item in pendings)
            {
                var due = new MutualAid.Models.Transaction.MatchViewModel
                {
                    Id = item.Id,
                    Amount = item.Amount,
                    DepositId = item.DepositId,
                    WithdrawalId = item.WithdrawalId,
                    PayedBy = item.PayedBy,
                    DueDate = item.ExpectedPaymentDate

                };
                ReceiveFrom.MatchViewModels.Add(due);
            }

        }
    }


}

<div class="page-inner">
    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <!--================================-->
        <!-- Breadcrumb Start -->
        <!--================================-->
        <div class="pageheader pd-t-25 pd-b-35">
            <div class="pd-t-5 pd-b-5">
                <h1 class="pd-0 mg-0 tx-20">Mutual Aid</h1>
            </div>
            <div class="breadcrumb pd-0 mg-0">
                <a class="breadcrumb-item" href="index.html"><i class="fa fa-home"></i> Home</a>
                <a class="breadcrumb-item" href="">Dashboard</a>
                <span class="breadcrumb-item active">Mutual Aid</span>
            </div>
        </div>
        <!--/ Breadcrumb End -->
        <!--================================-->
        <div class="row clearfix">
            <div class="col-lg-12 col-xl-6">
                <div class="row row-xs">
                    <div class="col-sm-12">
                        <div class="card mg-b-20">
                            <div class="card-body bg-warning">
                                <div class="media d-inline-flex">
                                    <div>
                                        <span class="tx-uppercase tx-10 mg-b-10">DEPOSIT</span>
                                        @if (myDeposit != null)
                                        {
                                            <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-white"> <a href="#" class="btn btn-lg btn-primary" id="sweetalert-example-1"><i class="mdi mdi-file-pdf"></i>CLICK HERE</a></h2>
                                        }
                                        else
                                        {
                                            <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-white"> <a href="@Url.Action("NewDeposit","Transaction")" class="btn btn-sm btn-light mg-t-5"><i class="mdi mdi-file-pdf"></i>CLICK HERE</a></h2>

                                        }

                                    </div>
                                </div>
                                <div class="clearfix">

                                    <span class="float-right">
                                        <i class="ion-android-arrow-up mr-1 tx-success"></i><span class="tx-dark"></span><span class="small mg-b-0"></span>
                                    </span>
                                </div>
                                <div class="progress ht-3 op-5">
                                    <div class="progress-bar bg-primary wd-100p" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card mg-b-20">
                            <div class="card-body bg-dark active">
                                <div class="media d-inline-flex">
                                    <div>
                                        <span class="tx-uppercase tx-10 mg-b-10">WITHDRAW</span>
                                        @if (UnWithdrawn == null)
                                        {
                                            <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-white"> <a href="#" class="btn btn-lg btn-primary" id="sweetalert-example-8"><i class="mdi mdi-file-pdf"></i>CLICK HERE</a></h2>
                                        }
                                        else
                                        {
                                            <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-white"> <a href="@Url.Action("Withdraw","Transaction")" class="btn btn-sm btn-light mg-t-5"><i class="mdi mdi-file-pdf"></i> CLICK HERE</a> </h2>
                                        }

                                    </div>
                                </div>
                                <div class="clearfix">

                                </div>
                                <div class="progress ht-3 op-5">
                                    <div class="progress-bar bg-warning wd-100p" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (deposits == null)
                    {
                        <div class="col-md-12">
                            <div class="card mg-b-20">
                                <div class="card card-body">
                                    <div class="d-flex">
                                        <span class="wd-80 ht-80 card-icon-primary d-flex align-items-center justify-content-center rounded hidden-xs"><i class="ion-ios-speedometer-outline tx-50"></i></span>
                                        <div class="mg-l-0 mg-md-l-20">
                                            <div class="media d-inline-flex">
                                                <div>
                                                    <span class="tx-uppercase tx-10 mg-b-10">Amount</span>

                                                    <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark">KSH.<span class="counter">0.00</span></h2>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in deposits)
                        {
                            <div class="col-md-12">
                                <div class="card mg-b-20">
                                    <div class="card card-body">
                                        <div class="d-flex">
                                            <span class="wd-80 ht-80 card-icon-primary d-flex align-items-center justify-content-center rounded hidden-xs"><i class="ion-ios-speedometer-outline tx-50"></i></span>
                                            <div class="mg-l-0 mg-md-l-20">
                                                <div class="media d-inline-flex">
                                                    <div>
                                                        <span class="tx-uppercase tx-10 mg-b-10">Amount</span>
                                                        @{
                                                            var bonus = (rate.BonusRate / 100) * item.Amount;
                                                            var principal = item.Amount + bonus;
                                                            if (item.IsPaid == false)
                                                            {
                                                                <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark">KSH.<span class="counter">@principal.ToString("#,##0.00")</span></h2>
                                                                <h3>Unpaid Bonus</h3>
                                                            }
                                                            else if (item.IsPaid == true && item.IsMature == false)
                                                            {

                                                                <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark">KSH.<span class="counter">@principal.ToString("#,##0.00")</span></h2>
                                                                <h3>Paid Waiting Maturity</h3>
                                                                if (item.MatureBy != null)
                                                                {
                                                                    string sqlFormattedDate = item.MatureBy.HasValue 
                                                                    ? item.MatureBy.Value.ToString("dd-MM-yyyy")
                                                                    : "<not available>";
                                                                    DateTime daysleft = item.MatureBy.Value;
                                                                    DateTime startdate = DateTime.Now;
                                                                    TimeSpan t = daysleft - startdate;
                                                                    string countdown = string.Format("{0}hrs", t.TotalHours.ToString("0.0"));

                                                                    <h4>Matures In <b> @countdown</b> </h4>
                                                                }

                                                            }
                                                            else if (item.IsMature == true)
                                                            {

                                                             
                                                                <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 tx-normal tx-rubik tx-dark">KSH.<span class="counter">@principal.ToString("#,##0.00")</span></h2>
                                                                <h3>Deposit Mature, Withdraw </h3>
                                                            }
                                                        }



                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @if (Payto.MatchViewModels.Count > 0)
                    {
                        { Html.RenderAction("PayToDashboard", "Home"); }


                    }
                    @if (ReceiveFrom.MatchViewModels.Count > 0)
                    {
                        { Html.RenderAction("ReceiveFromDash", "Home"); }

                    }

                </div>
                @*Payto*@
         
            </div>

        </div>





    </div>
</div>
