﻿@model MutualAid.Models.Home.RegisterViewModel

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="page-inner">
    <!--================================-->
    <!-- Main Wrapper Start -->
    <!--================================-->
    <div id="main-wrapper">
        <!--================================-->
        <!-- Breadcrumb Start -->
        <!--================================-->
        <div class="pageheader pd-t-25 pd-b-35">
            <div class="pd-t-5 pd-b-5">
                <h1 class="pd-0 mg-0 tx-20 text-overflow">Mutual Aid</h1>
            </div>
            <div class="breadcrumb pd-0 mg-0">
                <a class="breadcrumb-item" href="index.html"><i class="icon ion-ios-home-outline"></i> Home</a>
                <span class="breadcrumb-item active">New Rate</span>
            </div>
        </div>
        <!--/ Breadcrumb End -->
        <div class="row row-xs clearfix">
            <!--================================-->
            <!-- Basic Form Start -->
            <!--================================-->
            <div class="col-md-12 col-lg-12">
                <div class="card mg-b-20">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            Edit User
                        </h4>
                        @if (ViewBag.Message != null)
                        {
                            <p style="color:red">@ViewBag.Message</p>
                        }
                    </div>
                    <div class="card-body collapse show" id="collapse1">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Email)

                        <div class="form-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group row">
                                <label>FullName</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                            <div class="form-group row">
                                <label>Email Address</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })

                                </div>
                            </div>
                            <div class="form-group row">
                                <label>Phone Number<sup style="color:red">number must start with (+254)</sup></label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Phone number", @type = "text" } })

                                </div>
                            </div>
                            <div class="form-group row">
                                <label>New Password</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "password", @type = "password" } })

                                </div>
                            </div>
                            <div class="form-group row">
                                <label>Confirm Password</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.RepeatPassword, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "password", @type = "password" } })

                                </div>
                            </div>

                            <div class="form-group row">
                                <label>Role</label>
                                <div class="col-sm-10">
                                    @Html.EnumDropDownListFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                            <div class="form-group row">
                                <label>Activate?</label>
                                <div class="col-sm-10">
                                    @Html.CheckBoxFor(model => model.Active, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                        }

                    </div>
                </div>
            </div>
            <!--/ Basic Form End -->

        </div>
    </div>
    <!--/ Main Wrapper End -->
</div>
