﻿@{
    ViewBag.Title = "Mutual Aid";
}

<section class="ht-100v d-flex home-intro">
    <div class="card mx-auto text-center bd-transparent bg-transparent mg-t-50 align-self-top">
        <div class="bd-transparent " style="">
            <img src="~/Content/assets/images/mutual_aid.png" />
            @*<h1 class="tx-dark">Mutual Aid</h1>
            <h3 class="tx-dark">Home of Financial Freedom</h3>*@
            <p class="tx-15 wd-50p mx-auto text-white">We are a community of ordinary people who believe in coming together to soley help one another to achieve our goals and dreams. In the spirit of giving, mutual aid enables us receive double what we have given to others. When we come together great things happen.</p>
            <div class="mg-t-15">
                
                <a href="@Url.Action("Signin","Home")" class="btn btn-primary btn-lg  mg-y-20">LOGIN</a>
                <a href="@Url.Action("Signup","Home")" class="btn btn-dark active btn-lg  mg-y-20">REGISTER</a>
            </div>
        </div>
    </div>

</section>

