﻿@model MutualAid.Models.Transaction.PayViewModel
<div class="col-md-12">
        <div class="card mg-b-20">
            <div class="card card-body">

                <span class="tx-uppercase tx-10 mg-b-10">Pay To</span>
                <div class="mg-l-0 mg-md-l-20">
                    <div class="media d-inline-flex">
                        @using (Html.BeginForm("PayToDashboard", "Home", FormMethod.Post))
                        {

                            @Html.AntiForgeryToken()
                            <div class="collapse show" id="transactionsHistory">
                                <div class="card-body pd-x-0 pd-y-0">
                                    <ul class="list-group list-group-flush">


                                        @for (int i = 0; i < Model.MatchViewModels.Count; i++)
                                        {
                                            using (var db = new MutualAidEntities())
                                            {

                                                DateTime daysLeft = Model.MatchViewModels[i].DueDate;
                                                DateTime startDate = DateTime.Now;

                                                //Calculate countdown timer.
                                                TimeSpan t = daysLeft - startDate;
                                               string countDown = string.Format("{0}hrs:{1}m:{2}s", t.Hours, t.Minutes, t.Seconds);
                                                var email = Model.MatchViewModels[i].ReceivedBy;
                                                var payto = db.SystemUsers.FirstOrDefault(p => p.Email == email);
                                                  var id = Model.MatchViewModels[i].Id;
                                                  var payment = db.PayReceives.FirstOrDefault(p => p.Id == id);
                                                <li class="list-group-item d-flex pd-y-10 pd-sm-x-15">
                                                    <div class="d-none d-sm-block"><span class="wd-45 ht-45 d-flex align-items-center justify-content-center rounded card-icon-primary"><i class="cf cf-eth tx-16 tx-primary"></i></span></div>
                                                    <div class="pd-sm-l-10">
                                                        <h5 class="tx-dark mg-b-0">Name</h5>
                                                        <h5 class="tx-dark mg-b-0">Phone</h5>
                                                        <h5 class="tx-dark mg-b-0">Amount</h5>
                                                        <h5 class="tx-dark mg-b-0">Due Date</h5>
                                                        <h5 class="tx-dark mg-b-0">Time Remaining</h5>
                                                        <h5 class="tx-dark mg-b-0">Tick (&#10004;) Here</h5>
                                                        @if (payment.ActualDatePayed == null)
                                                        {
                                                            <h5 class="tx-danger mg-b-0">
                                                                <div class="form-group">
                                                                    <div class="col-md-offset-2 col-md-10">
                                                                        <input type="submit" value="Confirm" class="btn btn-primary" onclick="return confirm('Ensure You Click The Checkbox Before Submiting');" />
                                                                    </div>
                                                                </div>
                                                            </h5>
                                                        }
                                                        else if (payment.ActualDatePayed != null && payment.IsPayed == false)
                                                        {
                                                            <h5 class="tx-danger mg-b-0">
                                                                
                                                            </h5>
                                                        }
                                                        else
                                                        {
                                                            <h5 class="tx-danger mg-b-0">Disputed</h5>
                                                        }


                                                    </div>
                                                    @Html.HiddenFor(p => Model.MatchViewModels[i].DueDate)
                                                    @Html.HiddenFor(p => Model.MatchViewModels[i].Id)
                                                    @Html.HiddenFor(p => Model.MatchViewModels[i].Amount)
                                                    @Html.HiddenFor(p => Model.MatchViewModels[i].DepositId)
                                                    @Html.HiddenFor(p => Model.MatchViewModels[i].WithdrawalId)
                                                    @Html.HiddenFor(p => Model.MatchViewModels[i].ReceivedBy)
                                                <div class="mg-l-auto text-right">
                                                    <h5 class="tx-dark mg-b-0">@payto.FullName</h5>
                                                    <h5 class="tx-dark mg-b-0">@payto.Phone</h5>
                                                    <h5 class="tx-dark mg-b-0">@Model.MatchViewModels[i].Amount</h5>
                                                    <h5 class="tx-dark mg-b-0">@Model.MatchViewModels[i].DueDate.ToString("dd/MM/yyyy")</h5>

                                                    @if (payment.ActualDatePayed == null)
                                                    {
                                                        <h5 class="tx-danger mg-b-0">@countDown</h5>
                                                    }
                                                    else if (payment.ActualDatePayed != null && payment.IsPayed == false)
                                                    {
                                                        <h5 class="tx-danger mg-b-0">Paid Waiting Confirmation from @payto.FullName</h5>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="tx-danger mg-b-0">Disputed</h5>
                                                    }
                                                    <h5 class="tx-danger mg-b-0">@Html.CheckBoxFor(p => Model.MatchViewModels[i].status)</h5>
                                                </div>



                                                </li>
                                            }
                                        }


                                    </ul>
                                </div>
                            </div>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
