﻿@model MutualAid.Models.Transaction.PayViewModel

<div class="col-md-12">
    <div class="card mg-b-20">
        <div class="card card-body">

            <span class="tx-uppercase tx-10 mg-b-10">Receive From</span>
            <div class="mg-l-0 mg-md-l-20">
                <div class="media d-inline-flex">
                    @using (Html.BeginForm("ReceiveFromDash", "Home", FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()
                        <div class="collapse show" id="transactionsHistory">
                            <div class="card-body pd-x-0 pd-y-0">
                               
                                <ul class="list-group list-group-flush">


                                    @for (int i = 0; i < Model.MatchViewModels.Count; i++)
                                    {
                                        using (var db = new MutualAidEntities())
                                        {

                                            DateTime daysLeft = Model.MatchViewModels[i].DueDate;
                                            DateTime startDate = DateTime.Now;

                                            //Calculate countdown timer.
                                            TimeSpan t = daysLeft - startDate;
                                             string countDown = string.Format("{0}hrs:{1}m:{2}s", t.Hours, t.Minutes, t.Seconds);
                                            var email = Model.MatchViewModels[i].PayedBy;
                                            var id = Model.MatchViewModels[i].Id;
                                            var payer = db.SystemUsers.FirstOrDefault(p => p.Email == email);
                                            var payment = db.PayReceives.FirstOrDefault(p => p.Id == id);
                                            @Html.HiddenFor(p => Model.MatchViewModels[i].DueDate)
                                            @Html.HiddenFor(p => Model.MatchViewModels[i].Id)
                                            @Html.HiddenFor(p => Model.MatchViewModels[i].Amount)
                                            @Html.HiddenFor(p => Model.MatchViewModels[i].DepositId)
                                            @Html.HiddenFor(p => Model.MatchViewModels[i].WithdrawalId)
                                            @Html.HiddenFor(p => Model.MatchViewModels[i].PayedBy)
                                            <li class="list-group-item d-flex pd-y-10 pd-sm-x-15">

                                                <div class="pd-sm-l-10">
                                                    <h5 class="tx-dark mg-b-0"><b>Name</b></h5>
                                                    <h5 class="tx-dark mg-b-0"><b>Phone</b></h5>
                                                    <h5 class="tx-dark mg-b-0"><b>Amount</b></h5>
                                                    <h5 class="tx-dark mg-b-0"><b>Due Date</b></h5>
                                                    <h5 class="tx-dark mg-b-0"><b>Time Remaining</b></h5>
                                                    <h5 class="tx-dark mg-b-0">Tick (&#10004;) Here</h5>
                                                    @if (payment.ActualDatePayed == null)
                                                    {
                                                        <h5 class="tx-danger mg-b-0">
                                                            Waiting Payment
                                                        </h5>
                                                    }
                                                    else if (payment.ActualDatePayed != null && payment.IsPayed == false)
                                                    {
                                                <h5 class="tx-danger mg-b-0">
                                                    <div class="form-group">
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <input type="submit" value="Confirm" class="btn btn-primary" name="submitButton"  onclick="return confirm('Ensure You Click The Checkbox Before Submiting');" />
                                                        </div>
                                                    </div>
                                                </h5>
                                                    }
                                                    else
                                                    {
                                                        <p class="tx-danger mg-b-0">Disputed</p>
                                                    }
                                                   
                                                </div>

                                                <div class="mg-l-auto  text-left" style="margin-left:80px;">
                                                    <h5 class="tx-dark mg-b-0">@payer.FullName</h5>
                                                    <h5 class="tx-dark mg-b-0">@payer.Phone</h5>
                                                    <h5 class="tx-dark mg-b-0">@Model.MatchViewModels[i].Amount</h5>
                                                    <h5 class="tx-dark mg-b-0">@Model.MatchViewModels[i].DueDate.ToString("dd/MM/yyyy")</h5>
                                                    @if (payment.ActualDatePayed == null)
                                                    {
                                                        <h5 class="tx-danger mg-b-0">@countDown</h5>
                                                    }
                                                    else if (payment.ActualDatePayed != null && payment.IsPayed == false)
                                                    {
                                                        <h5 class="tx-danger mg-b-0">Claims To have Payed. Confirm</h5>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="tx-danger mg-b-0">Disputed</h5>
                                                    }
                                                    <h5 class="tx-danger mg-b-0">@Html.CheckBoxFor(p => Model.MatchViewModels[i].status)</h5>
                                                    <h5 class="mg-b-0">
                                                        <div class="form-group">
                                                            <div class="col-md-offset-2 col-md-10">
                                                                <input type="submit" value="Fake Teller" name="submitButton" class="btn btn-primary" onclick="return confirm('Ensure You Click The Checkbox Before Submiting');" />
                                                            </div>
                                                        </div>
                                                    </h5>
                                                </div>



                                            </li>
                                        }
                                    }


                                </ul>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
</div>