﻿@model MutualAid.Models.Home.LoginViewModel

@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ht-100v d-flex bg-gray-500">
    <div class="card shadow-none pd-20 mx-auto wd-300 text-center bd-1 align-self-center mg-b-20">
        <h4 class="card-title mt-3 text-center">Sign In</h4>
        <div class="card-body">
            <p class="text-center">Sign in to your account</p>
            <p style="color:red">@ViewBag.Error</p>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text pd-x-9"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control  form-control-sm", @placeholder = "Email address", @type = "email" } })

                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Create password", @type = "password" } })

                    </div>
                    <p class="text-center"><a href="#">Forget Password?</a></p>
                    <div class="form-group">
                        <button type="submit" class="btn btn-custom-primary btn-block tx-13 hover-white"> Login </button>
                    </div>
                    <p class="text-center">Don't have an account?<br /> <a href="@Url.Action("Signup","Home")">Create Account</a> </p>
                </form>
            }
        </div>
    </div>
</div>



