﻿@model MutualAid.Models.Home.RegisterViewModel

@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================================-->
<!-- User Singup Start -->
<!--================================-->
<div class="ht-100v d-flex bg-gray-500">
    <div class="card shadow-none pd-20 mx-auto wd-280 text-center bd-1 align-self-center">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        @if (ViewBag.Message != null)
        {
            <p style="color:red">@ViewBag.Message</p>
        }
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <form>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Full name", @type = "text" } })

                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text pd-x-9"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control  form-control-sm", @placeholder = "Email address", @type = "email" } })

                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <select class="custom-select custom-select-sm" style="max-width: 120px;">
                            <option selected="">+254</option>

                        </select>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Phone number", @type = "text" } })

                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Password", @type = "password" } })

                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        @Html.EditorFor(model => model.RepeatPassword, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholder = "Repeat password", @type = "password" } })

                    </div>
                    <div class="custom-control custom-checkbox mg-t-25" style="display: initial;">
                        <input type="checkbox" class="custom-control-input form-control-sm" id="customCheck1">
                        <label class="custom-control-label tx-12 tx-gray-500" for="customCheck1">I agree to this <a href="@Url.Action("Terms","Home")">Terms & Conditions</a></label>
                    </div>
                    <div class="custom-control custom-checkbox mg-b-10 pd-l-0">
                        <input type="checkbox" class="custom-control-input form-control-sm" id="customCheck2">
                        <label class="custom-control-label tx-12 tx-gray-500" for="customCheck2">I agree to this <a href="@Url.Action("Privacy","Home")">Privacy & Policy</a></label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-custom-primary btn-block tx-13"> Create Account </button>
                    </div>
                    <p class="text-center">Already Have Account? <a href="@Url.Action("Signin","Home")">Sign In</a> </p>
                </form>
            }
        </div>
    </div>
</div>
<!--/ User Singup End -->
<!--================================-->


