﻿
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="ht-100v d-flex">
        <div class="card shadow-none mx-auto text-center bd-transparent bg-transparent ">
       
            <h3 class="text-uppercase">TERMS AND CONDITIONS</h3>
       
            
            <div class="text-center">
                Our platform promises to help the members leverage on the growth of our community to achieve their goals and dreams.        
                <ol type="number">
                    RULES.
                    <li>  All members should treat each other with due respect.</li>
                    <li> Register only with a valid/working phone number and email.</li>
                    <li>    Call the recipient before making payment to confirm whether its the correct number.</li>
                    <li>  Verify your account balance before confirming payment.</li>
                    <li> Ensure to make payment within the stipulated time,failure to which will lead to suspension of your account.</li>
                    <li>  Make sure you confirm all received payments. Delaying will lead to suspension of your account.</li>
                    <li> Any mischief from a member will lead to permanent removal from the platform.</li>
                    <li>  Do not start any transaction if you are not ready to pay. 9. Our platform or members are not your debtors.</li>
                </ol>
         
            </div>
        </div>
    </div>

